/*
############################
Variables, Reset AndDefaults
############################
*/

:root {
  --height-medium: 90px;    /* Standard heght for footer and other elements */
  --sidebar-width: 50px;    /* sidebar width on mobile device */
  --color-active: #adff2f;  /* color for active-text and other elemens*/
  --color-light: rgba(255,255,255,0.5);  /* primary color */
  font-size: 10px;  /* = 1rem */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-size: 1.5rem;
  color: var(--color-light);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}

/*
##########################
Responsive And Positioning
##########################
*/

.align-x-y {  /* Vertically and horizontally align via position absolute */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.align-y {  /* Vertically align via position absolute */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hide-on-mobile {
  display: none;  /* hidden on mobile */
}
.visible-on-mobile {
  display: block;  /* Visible on mobile only*/
}

@media screen and (min-width:768px) {
  .hide-on-mobile {
    display: block;  /* visible as block on wider screens*/
  }
  span.hide-on-mobile {
    display: inline;  /* visible as inline on wider screens */
  }
  .visible-on-mobile {
    display: none;  /* Hidden on wider screens */
  }
}

/*
######################
Margin, padding, sizez
######################
*/

.padding-standard { padding: 1rem; }
.padding-t-standard { padding-top: 1rem; }
.padding-b-standard { padding-bottom: 1rem; }

.padding-more {  padding: 2rem; }
.padding-t-more {  padding-top: 2rem; }
.padding-l-r-more {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-t-standard {  margin-top: 1rem; }
.margin-r-standard {  margin-right: 1rem; }
.margin-b-standard {  margin-bottom: 1rem; }

.margin-t-more {  margin-top: 2rem; }
.margin-r-more {  margin-right: 2rem; }
.margin-b-more {  margin-bottom: 2rem; }
.margin-l-more {  margin-left: 2rem; }

/*
###############
bits and pieces
###############
*/

ul.inline-list li {
  display: inline-block;
}

ul li.active {  /* green border on menu items is injected via ::before */
  position: relative
}
ul li.active::before {
  position: absolute;
  content: "";
  display: inline-block;
  background-color: var(--color-active);
}

.text-center {  text-align: center; }

.text-right {  text-align: right; }

.text-smaller {  font-size: 0.8em; }

.text-uppercase {  text-transform: uppercase; }

.text-white {  color: white; }

.highlight-on-hover a:hover {  /* Elements that get highlighet on hover*/
  color: white;
}
.highlight-on-hover a img {
  opacity: 0.5;
}
.highlight-on-hover a:hover img {
  opacity: 1;
}

/*
#############
Left Sidebar
#############
*/

section#sidebar-left {
  width: var(--sidebar-width);
  height: calc(100vh - var(--height-medium));  /* = 100vh - footer */
  float: left;
  background-color: black;
}

#sidebar-left > .inner-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav ul li {
/* NOTE: list item's height of both sidebar menu (on left) and main menu (on right) matches half the height of the call-to-action bar. In this way, the content of the two menus are always aligned above the fold.
*/
  height: calc( (var(--height-medium) - 1rem ) / 2);
  line-height: calc( (var(--height-medium) - 1rem ) / 2); /* vertically align*/
}
header nav ul li.hide-on-mobile { /* i.e. list item containing desktop logo*/
  height: calc( var(--height-medium) - 2rem ); /* spans two row (...and gets aligned with the call-to-action bar)*/
  line-height: calc( var(--height-medium) - 2rem ); /* vertically align*/
}

header nav ul li img {
  max-height: 70%;
}

header nav ul li:nth-child(n+3) img {  /* any list item starting from 3rd (i.e. excluding logos) */
  max-height: 30px;
  vertical-align: middle;
}

#sidebar-playlist-area {
  flex-grow: 1;
  overflow-y: scroll;
}

#sidebar-playlist-area .custom-plus-icon::after {
  content: "\002B";
  display:inline-block;
  width:4rem;
  height:4rem;
  line-height:4rem;
  font-size: 4rem;
  background-color:var(--color-light);
  vertical-align: middle;
  color:black;
}
#sidebar-playlist-area li:hover .custom-plus-icon::after {
  background-color: white;
}

#sidebar-playlist-area .custom-plus-icon+span {  /* Span following the custom plus icon */
  font-size: 1.2em;
  font-weight: bold;
}


#sidebar-user-bar img[src*="download"] {  /* "download" icon */
  max-height: 20px;
}
#sidebar-user-bar img[src*="profile"] {  /* profile picture */
  width: 30px;
  height: 30px;
  background-color: var(--color-light);
  border-radius: 50%;
}

#sidebar-user-bar hr {
  border-color: var(--color-light);
}

@media screen and (min-width:768px) {
  :root {
  --sidebar-width: 230px;  /* sidebar width on tablet and wider device */
  }

  #sidebar-left > .inner-section {
    text-align: left;
  }

  #sidebar-left .padding-standard {
    padding: 2rem;  /* more padding on tablet and wider devices*/
  }

  header nav ul li.active::before {  /* Green border on active menu item */
    width: 3px;
    height: 40px;
    left: -2rem;
    top:50%;
    transform: translateY(-50%);
  }

  #sidebar-user-bar h3.hide-on-mobile ,
  #sidebar-user-bar img ,
  #sidebar-user-bar span {
    display: inline-block;
    vertical-align: middle;
  }
}

/*
###############
call to action
###############
*/

#call-to-action {
  position: fixed;
  left: var(--sidebar-width); /* right of the sidebar */
  right: 0;
  z-index: 2; /* Keep on top */
  height: var(--height-medium);
  background-color: rgba(0, 0, 0, 0.25);
}

#call-to-action .inner-section {
  right: 2rem;
}

#call-to-action .inner-section:hover a {
  font-size: 1.2em;
}

#call-to-action a {
  border-radius: 25px;
  border: 2px solid white;
}

/*
#############
Main Content
#############
*/

#inner-content {
  padding-top: var(--height-medium); /* same as top bar*/
  width: calc(100% - var(--sidebar-width)); /* = 100% - sidebar */
  height: calc(100vh - var(--height-medium));  /* = 100vh - footer */
  float: left;
  background-color: #141922;
  overflow: auto;
}

nav#main-menu ul {
  font-size: 1.8rem;
}

nav#main-menu ul li {
  height: calc( (var(--height-medium) - 1rem ) / 2); /* matches sidebar menu (see note on line 179)*/
  line-height: calc( (var(--height-medium) - 1rem ) / 2); /* vertically align */
}

#main-menu ul li.active::before {  /* Green border on active item */
  width: 40px;
  height: 3px;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
}

.playlist-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.playlist-box {                        /* sizes on mobile (default)*/
  width: calc( (100% / 2) - 1rem);
  flex: 0 0 auto;
}
@media screen and (min-width:992px) {  /* sizes on tablet */
  .playlist-box {
    width: calc((100% / 4) - 1rem);
  }
}
@media screen and (min-width:1200px) {  /* sizes on desktop*/
  .playlist-box {
    width: calc((100% / 6) - 1rem);
  }
}

.playlist-box .layover {
  position: relative;
}

.playlist-box .layover a {
  display: none;  /* not whown by default */
}
.playlist-box .layover:hover a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 8rem;
}

.playlist-box .layover img {
  display: block;
  width: 100%;
}

/*
###################
FOOTER COMMON RULES
###################
*/

footer {
  width: 100%;
  height: var(--height-medium);
}

footer > .inner-section {
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  position: relative;
  z-index: 2;
}

section#footer-track-info ,
section#footer-settings-box {
  flex: 0 1 220px;
}

footer .custom-slider {
  height:4px;
  border-radius: 2px;
  background-color: var(--color-light);
  cursor: pointer;
}
footer .custom-slider .fill-bar {
  position: relative;
  height: 100%;
  width:20%;
  background-color: inherit;
  border-radius: inherit;
}

footer .slider-outer:hover .custom-slider .fill-bar {
  background-color: var(--color-active);
}

footer .slider-outer:hover .custom-slider .fill-bar::after {
  content: "";
  display: inline-block;
  position: absolute; right:0;
  top:50%;
  transform: translate(50% , -50%);
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

/*
##################
FOOTER TRACK INFO
left section
of the footer
##################
*/

#footer-track-info {
  position: relative;
}

#footer-track-info > div:nth-child(1) {
  width: 35%;
  left:0;
}
#footer-track-info > div:nth-child(2) {
  width: 40%;
  left: 40%;  /* 5% offset on left */
}
#footer-track-info > div:nth-child(3) {
  width: 20%;
  right: 0;
}

#footer-track-info img {
  max-width: 100%;
  display: block;
}

#footer-track-info > div > div:nth-child(2) a:hover {
  text-decoration: underline;
}

/*
##################
FOOTER PLAYER AREA
Middle section
of the footer
##################
*/

#footer-player-area {
  flex: 0 2 600px;
}

#player-button-list {  /* button bar on top*/
  height: calc((var(--height-medium) - 2rem) / 2);  /* takes 1/2 height of footer*/
  line-height: calc((var(--height-medium) - 2rem) / 2); /* vertically align content */
}

#player-button-list > li:nth-child(3) {
  font-size: 2.5rem;  /* play button is slighly bigger*/
}
#player-button-list > li:nth-child(3):hover {
  transform: scale(1.2); /* ...even bigger on hover */
}

#player-button-list > li:not(:last-child) {
  margin-right: 1.2vw;
}

#footer-player-area .slider-outer {  /* bottom bar with slider and time */
  height: calc((var(--height-medium) - 2rem) / 2); /* takes 1/2 height of footer*/
  position: relative;
}

#footer-player-area .slider-outer > span {  /* timer at sides of slider */
  width: 35px;
}
#footer-player-area .slider-outer > span:first-child {  /* left timer*/
  left: 0;
}
#footer-player-area .slider-outer > span:last-child {  /* right timer */
  right: 0;
}

#footer-player-area .slider-outer .custom-slider {  /* actual slider */
  width: calc(100% - 70px);  /* = 100% - timers */
}

/*
###################
FOOTER SETTINGS BOX
Right section
of the footer
###################
*/

section#footer-settings-box {
  position: relative;
  width: 100%;
}

#footer-settings-box > .slider-outer {
  width: 100%;
}

#footer-settings-box > .slider-outer > span { /* buttons on the left ov the slider */
  width: calc(50% / 3);
  float: left;
}

#footer-settings-box .custom-slider {  /* actual slider */
  right: 0;
  width:50%;
}